<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
          crossorigin="anonymous">

    <!-- Custom styles -->
    <link href="/css/styles.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="row main">
        <div class="col-lg-3 menu-column">
          <div class="sticky">
            <div class="menu-selected">
              <h4>Exposing a local server through HAProxy using a reverse SSH tunnel</h4>
            </div>
           
            <div>
              <h4>Starting with NixOS (and thus with Nix and NixOS)</h4>
            </div>
<!--
            <ul>
              <li><a href=starting-with-nixops.html>Starting with NixOS (and thus with Nix and NixOS)</a></li>
            </ul>
-->
          </div>
        </div>

        <div class="col-lg-9 content-column">
          $body$
        </div> <!-- content-column -->
      </div>

      <footer class="footer">
        <p>&copy; Hypered 2017</p>
      </footer>
    </div> <!-- container -->

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
            integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
            integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
            crossorigin="anonymous"></script>
  </body>
</html>
